# This is a comment
# Each line is a file pattern followed by one or more owners.
# The owners can be individual users or teams.

# For all files
# * @username1 @team-name

# For specific directories or files
# /docs/ @username2
# /src/ @team-name

@realkalash @main-dev-team
